:host {
  display: block;
  width: 100%;

  .wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 5vw;

    .cardsWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1vw;
      justify-content: space-around;

      .imgWrapper {
        width: 19%;
      }
    }
    .paginator {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: right;
      padding: 20px 0 0 0;

      .moreButton {
        margin: 0 2vw 0 0;
        background-color: #3f51b5;
        color: white;
        width: 15vw;
      }
    }

  }
  //.paginator mat-paginator mat-paginator-outer-container mat-paginator-container mat-paginator-page-size, ng-star-inserted {
  //  display: none;
  //}
}
