:host {
  display: block;
  width: 100%;
  background-color: #3f51b5;

  .wrapper {
    max-width: 1160px;
    margin: 0 auto;

    .application-header {
      font-size: 15px;
    }
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar {
    height: auto;
  }
  .mat-form-field {
    margin: 10px 20px 0;
  }
}
